input.text-field {
  background: url(images/shader.gif) repeat-x scroll rgb(255, 255, 255);
  border: 1px solid rgb(211, 211, 211);
  padding: 4px 4px;
  font-family: georgia, arial, sans-serif;
  font-size: 18px;
}